
[submodule "devices/gk7205v300_ultimate_yucheng-f10h55w3as-dev/general/package/easy"]
	path = devices/gk7205v300_ultimate_yucheng-f10h55w3as-dev/general/package/easy
	url = https://github.com/akhud78/easy
